* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #fdfdfd;
    --text-color: #111;
    --accent-color: #249099;
}

body.dark-mode {
    --bg-color: #121212;
    --text-color: #f5f5f5;
    --accent-color: #249099;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
}

/* Dark mode button */
#themeToggle {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--bg-color);
    border: 5p;
    border-color: var(--accent-color);
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#themeToggle::before {
    content: "☀️";
    font-size: 1.5em;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}


body.dark-mode #themeToggle::before {
    content: "🌙";
    transform: rotate(-45deg);
}

/* Header styling */
.header {
    text-align: left;
    max-width: 800px;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5em;
    font-weight: 600;
    color: var(--text-color);
}

header p {
    font-size: 1.2em;
    color: var(--text-color);
    margin: 10px 0 20px;
}

/* Main content */
.main-content {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 40px;
}

section {
    padding: 0 20px;
    text-align: left;
}

h2 {
    font-size: 1.8em;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 20px;
}

p {
    font-size: 1em;
    color: var(--text-color);
}

/* Projects */
.project-list {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.project {
    position: relative;
    padding: 20px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.project::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    /* Smaller corner size */
    height: 15px;
    border-top: 2px solid var(--text-color);
    border-left: 2px solid var(--text-color);
    border-radius: 0;
    /* Remove rounding */
}

.project::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    /* Smaller corner size */
    height: 15px;
    border-bottom: 2px solid var(--text-color);
    border-right: 2px solid var(--text-color);
}

.project h3 {
    font-size: 1.2em;
    font-weight: 500;
    color: var(--text-color);
}

.project p {
    font-size: 0.9em;
    color: var(--text-color);
}

/* Footer */
.footer {
    padding: 20px;
    font-size: 0.9em;
    color: #555;
    text-align: left;
}
