$bgColor: #121212;
$first: #580C82;
$second: #8F30A1;
$third: #FE4773;
$fourth: #F6D68D;
$fifth: #FB8B24;
$sixth: #46B3A5;
$seventh: #2E6D92;

// $first: #FB8B24;
// $second: #0071A2;
// $third: #F63E02;
// $fourth: #820263;
// $fifth: #CE1483;
// $sixth: #05386B;

$projHeight: 140vh;
$conHeight: 81vh;
