@import "vars.scss";
@import "global.scss";

.conBox {
    @extend .box;
    // display: flex;
    padding: 5%;
}

.conElement {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 1.5%;


    p {
        margin-top: 1em;
        padding-left: 1em;
        grid-column: 2 / 3;
    }


    .btn {
        display: flex;
        color: #fff;
        background: $first;
        border: none;
        font-size: larger;
        padding: 0.5em 1em;
        font-weight: 700;
        transition: all 0.2s ease-in-out;
        align-items: center;
        justify-content: center;
        grid-column: 1 / 2;
    }
}

.conElement:hover {
    $hoverHight: -3%;
    .btn {
        background-color: $bgColor;
        color: $first;
        transform: translate(0, $hoverHight);
    }

    .p {
        color: $first;
        transform: translate(0, $hoverHight);
    }
}

.conElement:hover .btn:active {
    transform: translate(0);
    box-shadow: none;
}
