@import "vars.scss";
@import "global.scss";


.conBox {
    @extend .box;
    // display: flex;
    padding: 5%;
}

.conElement {
    $hoverHight: -7%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 1.5%;


    p {
        margin-top: 1em;
        padding-left: 1em;
        grid-column: 2 / 3;
    }


    .btn {
        position: relative;
        display: flex;
        color: #fff;
        background: $sixth;
        border: none;
        padding: 0.5em 1em;
        transition: all 0.2s ease-in-out;
        align-items: center;
        justify-content: center;
        border-radius: 0.5em;
        grid-column: 1 / 2;
        font-weight: 700;
    }

    .btn:hover {
        background-color: $bgColor;
        color: $sixth;
        font-size: large;
        cursor: pointer;
        // transform: translate(0, $hoverHight);
    }
}
