$bgColor: #121212;

body {
    background-color: $bgColor;
    color: white;
    font-family: "Roboto", sans-serif;
}

.body {
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title-container {
    grid-column: 1 / 2;
}

.info-container {
    grid-column: 2 / 3;
    padding: 10%;
    opacity: 0.87;
    p {
        margin-top: -1em;
    }
}

.sub {
    opacity: 0.6;
}
