@import "vars.scss";

body {
    background-color: $bgColor;
    color: white;
    font-family: "Roboto", sans-serif;
}

.body {
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title-container {
    grid-column: 1 / 2;
}

.info-container {
    grid-column: 2 / 3;
    padding-right: 20%;
    // right: 20%;
    opacity: 0.87;
    #education {
        color: $second;
    }
    #skills {
        color: $third;
    }
    #experience {
        color: $fourth;
    }
    #projects {
        color: $fifth;
    }
    p {
        margin-top: -1em;
    }
}

.sub {
    opacity: 0.6;
}

.box {
    // margin-top: 15%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 2%;
    background-color: rgb(31, 31, 31);
}
