$bgColor: #191919;

.body {
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: "Roboto", sans-serif;
}

.title-container {
    grid-column: 1 / 2;
}

.info-container {
    grid-column: 2 / 3;
    padding: 10%;
    p {
        margin-top: -1em;
    }
}

.sub {
    color:darkgrey;
}
