$space: 20%;

#projectInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;

    #left {
        grid-column: 1 / 2;
        padding-right: $space;
    }

    #right {
        grid-column: 2 / 3;
        padding-left: $space;
    }
}
