@import "vars.scss";

$textPad: 4%;
$offset: 15%;

.text {
    background-color: $bgColor;
    position: sticky;
    top: 10%;
    margin-bottom: 20%;
    padding-bottom: $textPad;
    padding-top: $textPad;
    padding-left: 1%;
    left: $offset;
    width: 40%;
    font-size: 300%;
}

.bar {
    position: absolute;
    left: $offset;
    height: 80vh;
    width: 20%;
    z-index: -1;
}

.line {
    position: absolute;
    left: $offset - 1%;
    width: 0.5%;
    height: 80vh;
}

#orange {
    background: linear-gradient(180deg, $second, $third);
}

#yellow {
    background: linear-gradient(180deg, $third, $fourth);
}

#green {
    background: linear-gradient(180deg, $fourth, $fifth);
}

#blue {
    background: linear-gradient(180deg, $fifth, $sixth);
}
